---
const { about } = Astro.props;
---

<section id="about">
	<h1>{about.frontmatter.name}</h1>
	<h2>{about.frontmatter.role}</h2>
	<div>
		{about.compiledContent()}
	</div>
</section>

<style>
</style>
