---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import AboutSection from '../components/about/AboutSection.astro';
import ExperienceCard from '../components/experience/ExperienceCard.astro';
import ProjectCard from '../components/projects/ProjectCard.astro';

const experiences = (await getCollection('experience')).sort(
  (a, b) => {
		if (b.data.endDate === 'Present') {
			return 1;
		} else if (a.data.endDate === 'Present') {
			return -1;
		} else {
			return b.data.endDate.valueOf() - a.data.endDate.valueOf()
		}
	},
);

const projects = (await getCollection('projects')).sort(
	(a, b) => b.data.order - a.data.order
)

const about = (await getCollection('about'));

---


<Layout>
	<div class="gradient-background"></div>
	<div class="gradient-content">
		<div class="body-content">
			<AboutSection about={about[0]}/>
			<section>
				<h2>Experience</h2>
				<div class="experience-cards">
					{experiences.map((exp) => (
						<ExperienceCard experience={exp} />
					))}
				</div>
			</section>
			<section>
				<h2>Projects</h2>
				<div class="project-cards">
					{projects.map((proj) => (
						<ProjectCard project={proj} />
					))}
				</div>
			</section>
		</div>
	</div>
</Layout>

<style>
	.gradient-background {
		width: 100vw;
		height: 100vh;
		background: linear-gradient(
			to top right,
			var(--color-bg-primary) 36%,
			var(--color-bg-secondary) 100%
		);
	}

	.gradient-content {
		position: absolute;
		overflow-y: auto;
		overflow-x: hidden;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
	}

	.body-content {
		display: flex;
		flex-direction: column;
		gap: 7rem;
		padding: 4rem 2rem;
		@media (max-width: 480px) {
			padding: 2rem 1rem;
		}

		max-width: 1350px;
		box-sizing: border-box;
		align-self: center;
		justify-self: center;
	}

	h2 {
		font-weight: 800;
		font-size: 1.2rem;
		color: var(--color-text-secondary);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		.experience-cards {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
			gap: 4rem;
			@media (max-width: 768px) {
				grid-template-columns: 1fr;
				gap: 2rem;
			}
		}

		.project-cards {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
			gap: 4rem;
			@media (max-width: 1200px) {
				grid-template-columns: 1fr;
				gap: 2rem;
			}
		}
	}
</style>