<nav class="navbar">
  <div class="content">
    <a href="#about">About</a>
    <a href="#experience">Experience</a>
    <a href="#projects">Projects</a>
  </div>
</nav>

<style>
  .navbar {
    position: sticky;
    top: 0;
    z-index: 10000;
		background: linear-gradient(
			to right,
			rgba(14, 12, 41, 0.50) 0%,
			rgba(43, 26, 78, 0.50) 100%
		);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    max-width: 1350px;
    justify-content: end;
    gap: 2rem;
    padding: 1rem;
  }

  a {
    color: var(--color-text-primary);
    transition: color 0.2s;
    text-decoration: none;
    font-size: 0.9375rem;
    font-weight: 700;

    &:hover {
      color: var(--color-text-secondary);
    }
  }
</style>
