<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/icons/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="/src/styles/colors.css" />
		<link rel="stylesheet" href="/src/styles/normalize.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Shirley Xiao</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		background-color: white;
		color: var(--color-text-primary);
		font-family: 'Inter', system-ui, sans-serif;
		overflow: hidden;
		margin: 0;
	}
</style>
