---
import { Colors } from "../constants/Colors";

const { text, href, color = Colors.White, external = false } = Astro.props;
---

<a 
  class="link" 
  href={href} 
  target={external ? "_blank" : "_self"} 
  rel={external ? "noopener noreferrer" : undefined}
  style={`--link-color: ${color}`}
>
  {text}
</a>

<style>
.link {
  text-decoration: none;
  color: var(--link-color);
  border-bottom: 2px solid transparent;
}
</style>
