---
const { text, href, external = false } = Astro.props;
---

<a 
  class="link" 
  href={href} 
  target={external ? "_blank" : "_self"} 
  rel={external ? "noopener noreferrer" : undefined}
>
  {text}
</a>

<style>
.link {
  text-decoration: none;
  color: var(--color-text-primary);
  font-weight: 600;
  transition: color 0.2s;

  &:hover {
    color: var(--color-text-secondary);
  }
}
</style>
