---
const { title, id, animate = true } = Astro.props;
---

<section id={id}>
	<h2 class={animate ? "animate-on-scroll" : ""}>{title}</h2>
	<slot />
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	h2 {
		font-weight: 800;
		font-size: 1.2rem;
		color: var(--color-text-secondary);
	}
</style>
